
<div id="<%= dom_id madoff %>" class="madoff">
  <p>
    <strong>Name:</strong>
    <%= madoff.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= madoff.age %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= madoff.company_name %>
  </p>

  <p>
    <strong>Con:</strong>
    <%= madoff.con %>
  </p>

  <p>
    <strong>Wiki link:</strong>
    <%= link_to("Wikipedia Page", madoff.wiki_link, target: :_blank ) %> 
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= madoff.upvotes || 0 %>
  </p>
  <div>
    <%= link_to "Upvote", upvote_madoff_path(madoff), data: { "turbo-method": :post } %>
  </div>

  <p>
    <strong>Current status:</strong>
    <%= madoff.current_status %>
  </p>

</div>
