<p style="color: green"><%= notice %></p>

<%= render @madoff %>

<div>
  <%= link_to "Edit this madoff", edit_madoff_path(@madoff) %> |
  <%= link_to "Back to madoffs", madoffs_path %>

  <%= button_to "Destroy this madoff", @madoff, method: :delete %>
</div>
